
/* ==========================================================================
   My own styles
   ========================================================================== */

#div1  {  
    background-image:url("../img/pinocchio_pattern.png");
    background-repeat:repeat-x;
    background-size: contain;
}

/*
@media (min-width: 768px){
  #left {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 75%;
    overflow-y: scroll; 
  }
  
  #right {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 50%;
  }
}
*/
body{
            font-family: "微軟正黑體",‘Noto Sans TC’, sans-serif;
;
}
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "微軟正黑體",‘Noto Sans TC’, sans-serif;
        color: #4F4F4F;
        line-height: 30px;
        
        
    }

#stroyimg {
    position: -webkit-sticky;  
    position: sticky;
    top: 10%; 
}





#div2 { 
            background-image: url("photo/bkimg.jpg");
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.6;
        }

/* 應該是用不到
.parallax{
    top:5%;
    position:
}*/

.title{ /*大標題*/
    
    padding-top: 10px;
    text-align: left;
    padding-left: 20px;
   
     }

#fix {
    right:0%;
    position:absolute;

    height: 100%;
    z-index: 99;
}

#long {
    right:12%;
    position: absolute;
    height: 100%;
    z-index: 98
}

#rectangle {
    right: 20%;
    width:100%;
    height: 100%;
    position: absolute;
    background-color:#FFBA84;
}

/*
#leftcol {
    height:100vh;
}
*/


#stroyimg {
    margin-top: 10%;
    padding-left: 10%;
    height: 80vh;
}

.slide {
    height:100vh;
    
}

.test-bg {
/*    background-color: chocolate;*/
    text-align: center;
}
.slide-title {
    height:50vh;
    margin-top: 10%;
}

