body{
    margin: 0
}
ul{
    padding-left:0px;
}

/*
#banner,#nav,#content,#information,#footer{
    padding: 10px;
}
*/

.container{
    padding: 10px;
}

.item{
    padding-top: 200px;
    margin-top: -200px;
}

#nav li{
    display:block;
    background-color: coral;
    padding: 2px;
    margin: 5px;  
}

#nav li a{
    text-decoration: none;
    color: white;
}

#nav li:hover{
    background-color: azure
}

#nav li a:hover{
    color: black
}

#wrapper {
    width: 600px;
    margin: 0 auto;
}



#banner {
    width: 800px;
    height: 200px;
    background-color: coral;
    float:left;
    position: fixed;
}


#nav {
    background-color: antiquewhite;
    height: 800px;
    width: 200px;
    float: left;
    margin-top: 200px;
    margin-left: -200px;
}



#content {
    width: 500px;
    height:800px;
    background-color: bisque;
    float: left;
    margin-top: 200px;
}

#supporting {
    width: 100px;
    background-color: azure;
    height: 800px;
    float: left;
    margin-top: 200px;
}

#footer {
    width:800px;
    background-color: beige;
    height: 100px;
    float: left;
    clear:both;
}

div.img {
    margin: 5px;
    padding: 5px;
/*    border: 1px solid gray;*/
    height: auto;
    width: auto;  
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
    height: 180px;
    width: 50%;
    border-radius: 50%;
/*    transform: translate(-50%, -50%);*/
    border: 1px solid #ffffff;
    object-fit: cover;
}

div.img a:hover img {
    border:1px solid darkgray;
}

div.img a {
    text-decoration: none;
}

